@mixin sticky-toolbar(){
	position: -webkit-sticky;
	position: "sticky";
	top: 46px;

	@media(min-width: 783px){
		top: 30px;
	}
}

body.acf-autosize-enabled{
	.acf-field:not(.no-autosize) .mce-top-part {
		@include sticky-toolbar();
	}

	.block-editor .acf-field:not(.no-autosize) .mce-top-part {
		top: 0;
	}
}

.acf-field.autosize .mce-top-part {
	@include sticky-toolbar();
}

.block-editor .acf-field.autosize .mce-top-part{
	top: 0;
}



